body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0; 
    /* É padrão zerar os margin */
}

ol,ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color:#000;
}

a:hover{
    color:#FF4C0D;
    font-weight: bold;
}

.menu li{
    /* background-color: brown; */
    display: inline;
    padding-left: 40px;

}


/* Aqui eu usei display flex no menu */
.menu{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 10px;
}

.menu img{
    /* height: 100px; */
    width: 15%;
    margin-top: -10px;
}

.estilo-imagem{
    border: solid #FF4C0D 2px;
    border-radius: 20%;
}

.banner > h1{
   font-family: 'Bahiana', cursive;
   font-size: 6em;
   text-align: center;
   color: #fff; 
   
}

.banner > p {
    text-align: center;
}

.banner{
    padding-top: 210px;
    padding-bottom: 210px;
    background-image: url('../images/tomate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -16px;
    margin-bottom: 20px;
}

#receita-bolovo{
    margin: 10px;

}

.container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: row wrap;
}

.container-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-flex > div > h2{
    text-align: center;
}

.sobre-bolovo{
    margin:50px;
}

footer{
    background-color: brown;
}

.mapa_baixo{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

footer > div > div > ol li:first-child{
    font-weight: bold;
}

/* .mapa_baixo > .info > ol >li:nth-child(4){
    color: blue;
} */

.menu > ul > li:last-child{
    font-weight: bold;
}